.logo {
  display: flex;
  flex: 1 1 auto;
  font-size: 1.5rem;
  color: #FFFFFF;
  align-items: center;
}

.logo span:hover {
  cursor: pointer;
}

.logo span {
  font-weight: 700;
}

.nav-item {
  margin: 0.5rem;
  color: #FFFFFF;
}

.error {
  color: #f44336;
  font-size: 12px;
}

.column {
  display: flex;
  flex-direction: column;
}

.dialog {
  width: 30vw;
  padding-bottom: 1rem;
}

.content {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.nav-item {
  font-size: 1rem;
}

#logo-img {
  max-height: 2rem;
  margin-right: 1rem;
}

mat-card-actions{
  display: flex;
  justify-content: center;
}

mat-card{
  padding-bottom: 2rem;
  padding-top: 2rem;
}
